<div class="pel-full">
    <div class="pel-sub1">
        <div class="pel-sub2 div-pel">
            <h3 class="pel-title">Peletizadora 1</h3>
            <ngx-gauge [size]="gaugeSize" [type]="gaugeType1" [value]="gaugeValue1" [label]="gaugeLabel1"
                [append]="gaugeAppendText1" [thick]="gaugeThick" [max]="gaugeMax" [thresholds]="thresholdConfig">
            </ngx-gauge>
        </div>
    </div>
    <div class="pel-sub1">
        <div class="pel-sub2 div-pel">
            <h3 class="pel-title">Peletizadora 2</h3>
            <ngx-gauge [size]="gaugeSize" [type]="gaugeType2" [value]="gaugeValue2" [label]="gaugeLabel2"
                [append]="gaugeAppendText2" [thick]="gaugeThick" [max]="gaugeMax" [thresholds]="thresholdConfig">
            </ngx-gauge>
        </div>
    </div>
    <div class="pel-sub1">
        <div class="pel-sub2 div-pel">
            <h3 class="pel-title">Peletizadora 3</h3>
            <ngx-gauge [size]="gaugeSize" [type]="gaugeType3" [value]="gaugeValue3" [label]="gaugeLabel3"
                [append]="gaugeAppendText3" [thick]="gaugeThick" [max]="gaugeMax" [thresholds]="thresholdConfig">
            </ngx-gauge>
        </div>

    </div>
</div>